@media (max-width: 700px) {
    .boton{
        position: absolute;
        height: 20px;
        left: 50%;
    }
    .link{
       height: 20px;
    }
    .imgD{
        width: 220px;
        height: 220px;
    }
    
}
.link{
    text-decoration: none;
    color: black;
}
.linkEdit{
    text-decoration: none;
    color: black;
    font-size: 23px;
    filter:invert(0.8)
}
.linkReturn{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.linkReturn:hover{
    transform: translateY(2px);
    color: white;
}
.span{
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    width: 90%;
    height: 45px;
    margin: auto;
    margin-bottom: 2%;
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 63%, rgba(124,43,43,1) 100%);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-bottom-left-radius: 400px 200px;
    border-bottom-right-radius: 400px 200px;
}

.details{
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    background: rgb(236,132,19);
    background: radial-gradient(circle, rgba(236,132,19,1) 40%, rgba(191,2,2,1) 100%);
    color: #f3f3f3;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(153, 12, 12, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.li{
    list-style:none;
    display: contents;
}
.img{
    width: 95%;
    height: 100%;
}
.imgD{
    width: 60%;
    height: 100%;
}
.btnx{
    display: flex;
    justify-content: end;
}
.boton{
    width: 93px;
    cursor: pointer;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 208, 0, 0.575);
    padding: 0 4px 0 4px;
    background-color: rgba(255, 208, 0, 0.575);
    padding: 5px 4px 5px 4px;
}
.divF{
    width: 0px;
    display: flex;
    justify-content: end;
}
.star{
    cursor: pointer;
    border: transparent;
    background: transparent;
    font-size: 18px;
}
.btnEditStar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.delete{
    display: flex;
    justify-content: end;
    margin: 2px;
 }
 .btnDelete{
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor: pointer; 
    border: none;
    background: none;
    filter : invert(0.8)
 }

