/* .cards{
    display: inline-flex;
    justify-content: space-around;
} */
.link{
    text-decoration: none;
    color: black;
}
.creaPokemon{
   
    display: flex;
    justify-content: end;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
    
}
.boton{
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 208, 0, 0.575);
    padding: 0 4px 0 4px;
    background-color: rgba(255, 208, 0, 0.575);
    padding: 5px 4px 5px 4px;
}
.span{
    background-color: rgba(0, 0, 0, 0.49);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
}
.botonVolverCargar{
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0.1px solid rgba(255, 208, 0, 0.575);
    padding: 5px 4px 5px 4px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 208, 0, 0.575);
}
.divHome{
    display: flex;
    justify-content: start;
    color:rgb(0, 0, 0) ;
}
.select{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 5px 4px 5px 4px;
    background-color: rgba(255, 208, 0, 0.575);
    margin: 5px;
}
.btn {
    border: 1px solid #000000af; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #f3390bbd; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 10px;
    }