@media (max-width: 700px) {

 .botonVolverCargar{
    display: none;
 }
 

    
}

.cards{
    display: inline-flex;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    color: black;
}
.creaPokemon{
   
    display: flex;
    justify-content: end;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
    
}
.boton{
    cursor: pointer;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 208, 0, 0.575);
    padding: 0 4px 0 4px;
    background-color: rgba(255, 208, 0, 0.575);
    padding: 5px 4px 5px 4px;
}
.span{
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    /* width: 90%; */
    height: 45px;
    margin: auto;
    margin-bottom: 2%;
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 63%, rgba(124,43,43,1) 100%);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-bottom-left-radius: 400px 200px;
    border-bottom-right-radius: 400px 200px;
}
.botonVolverCargar{
    cursor: pointer;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0.1px solid rgba(255, 208, 0, 0.575);
    padding: 5px 4px 5px 4px;
    /* display: flex;
    justify-content: center; */
    background-color: rgba(255, 208, 0, 0.575);
}
.divHome{
    display: flex;
    justify-content: start;
    color:rgb(0, 0, 0) ;
}
.select{
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 5px 4px 5px 4px;
    background-color: rgba(255, 208, 0, 0.575);
    margin: 5px;
}
.btn {
    margin: 1%;
    cursor: pointer;
    border: 1px solid #000000af; 
    padding: 1%; 
    background-color: #f3390bbd; 
    color: #000000; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif;
    border-radius: 10px;
    }
