.conteiner{
   width: 100%;
   max-width: 1200px;
   height: 430px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
}
.card{
   width: 330px;
   background-color: rgba(123, 119, 95, 0.247);
   height: 380px;
   border-radius: 8px;
   box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   overflow: hidden;
   margin: 20px;
   text-align: center;
   transition: all 0.25s;
}

.card:hover{
   
   background: rgb(224,25,22);
   background: linear-gradient(180deg, rgba(224,25,22,0.9921218487394958) 19%, rgba(255,209,0,0.9473039215686274) 80%);
   transform: translateY(-15px);
   box-shadow: 0 12px 16px rgba(0,0,0,0.2);
   color: white;
}

.img{
   width: 330px;
   height: 220px;
}

.name{
   font-weight: 600;
}

.types{
   padding: 0 1rem;
   font-size: 16px;
   font-weight: 300;
}