@media (max-width: 700px) {
.h1{
    display: none;
}
  
}
.h1{
    cursor: pointer;
}
.divHome{
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    width: 90%;
    height: 45px;
    margin: auto;
    margin-bottom: 2%;
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 63%, rgba(124,43,43,1) 100%);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-bottom-left-radius: 400px 200px;
    border-bottom-right-radius: 400px 200px;
}
.boton{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
   
    padding: 0 4px 0 4px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.19);
    color: white;
    border: 0.1px solid rgba(75, 114, 74, 0.462);
    background-color: rgba(96, 145, 94, 0.462);
}

.link{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.link:hover{
    transform: translateY(2px);
    color: white;
}
.li{
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 15px;
    list-style:none
}
.form{

    width: 400px;
    background-color:#446330ab;
    padding: auto;
    margin-top: 100px;
    margin: auto;
    border-radius: 4px ;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px #000;
}

.divInput{
    display: flex;
    width: 30%;
    margin:auto ; 
    background-color: #fbff003a;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 16px;
    margin-top: 16px;
    border: 1px solid #ff8800a8;
    font-size: 18px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.input{
    border-radius: 10px;
    background-color: rgba(226, 184, 16, 0.532);
    width: 60%;
}

.button{
    cursor: pointer;
    width: auto;
    border-radius: 10px;
    background-color: #8a2525a4;
    border: none;
    padding: 12px;
    color: white;
    margin:16px 0;
    font-size: 16px;
}
/* .select{
    border-radius: 15px;
    background-color: rgba(226, 184, 16, 0.532);
} */
.select {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    appearance: none;
    padding: 15px 20px; 
    border-radius: 15px;
    border: 1px solid rgba(226, 184, 16, 0.532);
    background-color: rgba(226, 184, 16, 0.532);
    color: #040404;
    font-size: 15px;
}
 
.select:focus {
    outline: none;
}