@media (max-width: 700px) {
 .input{
    width: 55%;
    font-size: 10px;
 }
 .button{
    width: 30%;
    border-radius: 8px;
 }
  
    
}
.searchBar{
    width: 20%;
    display: flex;
    justify-content: end;
}
::placeholder { color: rgb(255, 255, 255); }
.input{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 5px 4px 5px 4px;
    color: rgb(255, 255, 255);
    /* background-color: rgba(0, 0, 0, 0.19); */
    background-color: rgba(255, 208, 0, 0.575);
}

.button{
    cursor: pointer;
    color: rgb(238, 224, 224) ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 5px 4px 5px 4px;
    background-color: rgba(255, 208, 0, 0.575);
}